<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registration/Login Form In HTML and CSS</title>
	{{!-- <link rel="stylesheet" href="styles.css"> --}}

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.wrapper{
	min-height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.registration_form{
	background: #71c6cf;
	padding: 25px;
	border-radius: 5px;
	width: 400px;
}

.registration_form .title{
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	color: #ebd0ce;
	letter-spacing: 5px;
	font-weight: 700;
}

.form_wrap{
	margin-top: 35px;
}

.form_wrap .input_wrap{
	margin-bottom: 15px;
}

.form_wrap .input_wrap:last-child{
	margin-bottom: 0;
}

.form_wrap .input_wrap label{
	display: block;
	margin-bottom: 3px;
	font-weight:bold;
	color: #fff;
}

.form_wrap .input_grp{
	display: flex;
	justify-content: space-between;
}

.form_wrap .input_grp  input[type="text"]{
	width: 165px;
}

.form_wrap .input_grp  input[type="password"]{
	width: 165px;
}

.form_wrap .input_grp  input[type="number"]{
	width: 165px;
}


.form_wrap  input[type="text"]{
	width: 95%;
	border-radius: 3px;
	border: 1px solid #9597a6;
	padding: 10px;
	outline: none;
}

.form_wrap  input[type="password"]{
	width: 95%;
	border-radius: 3px;
	border: 1px solid #9597a6;
	padding: 10px;
	outline: none;
}

.form_wrap  input[type="number"]{
	width: 95%;
	border-radius: 3px;
	border: 1px solid #9597a6;
	padding: 10px;
	outline: none;
}

.form_wrap  input[type="password"]:focus{
	border-color: #ebd0ce;
}
.form_wrap  input[type="text"]:focus{
	border-color: #ebd0ce;
}
.form_wrap  input[type="number"]:focus{
	border-color: #ebd0ce;
}

.form_wrap .submit_btn{
	width: 100%;
	background: #ebd0ce;
	padding: 10px;
	border: 0;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
}

.form_wrap .submit_btn:hover{
	background: #ffd5d2;
}

</style>

</head>
<body>
	{{>header}}
<div class="wrapper">
	<div class="registration_form">
		<div class="title">
			Login Form
		</div>

		<form action ="/login" method="post">
			<div class="form_wrap">
	
				<div class="input_wrap">
					<label for="email">Email</label>
					<input type="text" name="email" id="email" autocomplete="off" placeholder="Enter Email" required="true">
				</div>
				<div class="input_wrap">
					<label for="password">Password</label>
					<input type="password" name="password" id="password" placeholder="password" required="true">
				</div>
				<br/>
				<a href="#" style="color:#4070f4;">Forget Password ?</a>
				<br/>
				<br/>	
				<div class="input_wrap">
					<input type="submit" value="Login" class="submit_btn">
				</div>
			</div>
		</form>
	</div>
</div>

</body>
</html>